#submit{
    background-color: cornflowerblue;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px;
    border-radius: 10px;
    color:black;
    font-weight: 600;
}

#submit:hover{
    background-color:rgb(0, 255, 89);
    color:white;
}

#b1{
    background-color:tomato;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    transition: 0.3s;
}

#b1:hover{
    background-color:rgb(175, 84, 228);
    color:white;
}

#b2{
    background-color: tomato;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    transition: 0.3s;

}

#b2:hover{
    background-color:rgb(175, 84, 228);
    color:white;
}

#b3{
    background-color:tomato;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    transition: 0.3s;

}

#b3:hover{
    background-color:rgb(175, 84, 228);
    color:white;
}

#b4{
    background-color: tomato;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    transition: 0.3s;

}

#b4:hover{
    background-color:rgb(175, 84, 228);
    color:white;
}

#input{
    background-color:white;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
}

#input:hover{
    background-color:rgb(3, 12, 0);
    color:white;
}

body {
        background-image: url(./asserts/3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;

}

/* #headerr{
    color:black;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    margin: 10;
    padding: 0;
} */

img{
    width: 330px;
    height: 100px;
}

#bg{
    display: grid;
    justify-content: center;
}


header{
    display:grid;
    background-color: transparent;
    width: 300px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* margin-left:580px; */
}

p{
    display: grid;
    margin: 0;
    padding: 0;
    align-items: center;
    /* margin-left:80px; */
    justify-content: center;
}

